@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --color-accent: hsl(277, 64%, 61%);
  --color-accent2: hsl(277, 100%, 27%);
  --main-heading: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
}

img {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--main-background);
  font-size: 15px;
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
}

/* Text Coloring */
.main-heading,
.stats {
  color: var(--main-heading);
}

.main-heading {
  font-size: 2rem;
}

.text-primary {
  color: var(--color-accent);
}

.main-paragraph,
.stats p {
  color: var(--main-paragraph);
}

.container {
  width: 1440px;
  margin: auto;
  padding: 0 2rem;
}

.landing {
  border-radius: 10px;
  background-color: var(--card-background);
}

.col2 img {
  border-radius: 0 10px 10px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.col1,
.col2 {
  width: 50%;
}

.col1 {
  align-self: center;
  padding: 1rem 3rem;
}

.content {
  margin-left: 2rem;
  width: 60%;
}

.content h2 {
  line-height: 1.3;
}

.main-heading + p {
  line-height: 1.7;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.stats p {
  font-size: 12px;
  font-weight: 400;
}

.col2 {
  position: relative;
}

.col2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  border-radius: 0 10px 10px 0;
  background-color: var(--color-accent2);
}

@media (max-width: 768px) {
  body {
    height: 100%;
  }
  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .col2 img {
    border-radius: 10px 10px 0 0;
  }

  .flex-container {
    flex-direction: column-reverse;
  }

  .col1,
  .col2 {
    width: 100%;
  }

  .col1 {
    padding: 2rem 1.5rem;
  }

  .content {
    text-align: center;
    margin-left: 0;
    width: 100%;
  }

  .flex-container .stats {
    flex-direction: column;
  }

  .stats p:not(.item-3 p) {
    margin-top: 0.4rem;
    margin-bottom: 2rem;
  }

  .item-3 p {
    margin-top: 0.4rem;
  }

  .col2::before {
    border-radius: 10px 10px 0 0;
  }
}
